:root {
  --default-border-radius: 8px;
  --default-gap: 30px;
  --bg-color: #14121a;

  --img-bg-color: #0f1015;


  --footer-background:#ED5565;
  --new-bg-color: #27213f;
  --new-violet-color: #6d5675;
}
